@use 'variables' as v;

.p-0 {
  padding: 0;
}

.p-1 {
  padding: v.$base-size
}

.p-2 {
  padding: v.$base-size * 2;
}

.p-3 {
  padding: v.$base-size * 3;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: v.$base-size
}

.m-2 {
  margin: v.$base-size * 2;
}

.m-3 {
  margin: v.$base-size * 3;
}

.font-small {
  font-size: v.$font-small;
}

.font-normal {
  font-size: v.$font-normal;
}

.font-medium {
  font-size: v.$font-medium;
}

.font-large {
  font-size: v.$font-large
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-active {
  color: v.$active-color;
}

.text-inactive {
  color: v.$inactive-color;
}

.decoration-none {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify {
  justify-content: space-between;
}

.gap-1 {
  gap: v.$base-size;
}

.gap-2 {
  gap: v.$base-size * 2;
}

.gap-3 {
  gap: v.$base-size * 3;
}

.w-full {
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

.pointer {
  cursor: pointer;
}
