$base-color: rgb(236, 167, 167);
$base-size: 5px;

.p-1 {
  padding: $base-size;
}

.p-2 {
  padding: $base-size * 2;
}

.p-3 {
  padding: $base-size * 3;
}

.m-1 {
  margin: $base-size;
}

.m-2 {
  margin: $base-size * 2;
}

.m-3 {
  margin: $base-size * 3;
}

.font-normal {
  font-size: 1em;
}

.font-medium {
  font-size: 1.5em;
}

.font-large {
  font-size: 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify {
  justify-content: space-between;
}

.gap-1 {
  gap: $base-size;
}

.gap-2 {
  gap: $base-size * 2;
}

.gap-3 {
  gap: $base-size * 3;
}

.w-full {
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

.item {
  background-color: $base-color;
  border-radius: $base-size;
}

.pointer {
  cursor: pointer;
}

.item-pointer {
  @extend .item;
  @extend .pointer;
}