@use '../../app/variables.scss' as v;

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: v.$base-color;
  color: v.$active-color;
  border-radius: v.$base-size * 3;
}